<div class="flex flex-col w-screen">
  <div class="sticky top-0 z-10 bg-gradient-to-b to-yellow-50/60 from-transparent backdrop-blur-sm pb-4 shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1)]">
    <div class="flex flex-col gap-y-2 mb-4 px-6 md:px-12 pt-4">
      <h1 class="text-4xl lg:text-5xl text-amber-900 font-black">The Contenders</h1>
      <div class="text-xl text-amber-600 font-black">In alphabetical order</div>
    </div>
  </div>
  <div class="w-full container mx-auto lg:grid lg:grid-cols-2 ">
    <div class="flex flex-col gap-y-6 m-4 p-6 bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200">
      <div class="flex gap-x-4">
        <div class="text-4xl">🍞</div>
        <h2 class="text-4xl text-amber-800 font-black">Bread</h2>
      </div>
      <div class=" text-amber-950 max-w-prose pl-3">
        Bread has had a long and varied career all over the world and its strength lies in its variety.
        Functioning variously as a delivery mechanism, a stand-in plate or even as its own course in a restaurant,
        bread has been enjoyed by humanity since the dawn of agriculture and is, some say, The Face of Carbs.
      </div>
      <div class="flex flex-col pl-3">
        <div class="text-normal text-stone-500 font-bold">Big hitters</div>
        <div class="text-xl text-amber-950 font-black max-w-prose">
          Pizza. Naan. Sandwiches.
        </div>
      </div>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Official Classification</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Dough made with a grain, with our without a raising agent, baked or fried.
          </p>
        </div>
      </details>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Caveats</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            After the infamous events of The Council of Bread-based Cakes, modern interpretations of The Carb Question
            avoid the potential for violence by only considering savoury usages of bread.
            It is now part of the Laws of The Question that you must disregard sweet bread-based dishes when making your choice.
          </p>
        </div>
      </details>
    </div>
    <div class="flex flex-col gap-y-6 m-4 p-6 bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200">
      <div class="flex gap-x-4">
        <div class="text-4xl">🍜</div>
        <h2 class="text-4xl text-amber-800 font-black">Noodles</h2>
      </div>
      <div class=" text-amber-950 max-w-prose pl-3">
        After an early career in Han-dynasty China, noodles found a new audience in the west
        by adopting a Germanic name (Nudle) and have gone from strength to strength. A workhorse
        of many cuisines across the East and beyond known for its variety and versatility,
        Noodles are the backbone of countless delicious dishes and, contentiously, even another contender itself.
      </div>
      <div class="flex flex-col pl-3">
        <div class="text-normal text-stone-500 font-bold">Big hitters</div>
        <div class="text-xl text-amber-950 font-black max-w-prose">
          Ramen. Pho. Chow mein.
        </div>
      </div>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Official Classification</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Made from any unleavened dough (including those made from Rice) usually boiled.
            Comes in a long-ish shape or thin tube. Almost always used in cuisine originating
            in Asia.
          </p>
        </div>
      </details>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Caveats</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Confusion abounds about terminology (Americans insist on referring to Spaghetti as Noodles) and The Great Schism
            - with Pasta forming a breakaway option - only adds to Noodles' image as a nexus for confrontation
            in The Question. Following the CCP (Common Question Parameters) guidance, Noodles is used to represent
            primarily east Asian cuisine offerings in ranking decisions, rather than in the etymological sense.
            Pasta must not be considered when voting for Noodles. See below.
          </p>
        </div>
      </details>
    </div>
    <div class="flex flex-col gap-y-6 m-4 p-6 bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200">
      <div class="flex gap-x-4">
        <div class="text-4xl">🍝</div>
        <h2 class="text-4xl text-amber-800 font-black">Pasta</h2>
      </div>
      <div class=" text-amber-950 max-w-prose pl-3">
        Bursting onto the scene relatively late compared to its august peers (likely starting its career in Etruscan-era Italy),
        Pasta is a classic flair player with a southern European swagger.
        Forming the basis of many Italian dishes, Pasta's personality shines through
        in the hundreds of quirky shapes it takes in contrast to its more austere Noodle proginator.
      </div>
      <div class="flex flex-col pl-3">
        <div class="text-normal text-stone-500 font-bold">Big hitters</div>
        <div class="text-xl text-amber-950 font-black max-w-prose">
          Spaghetti. Lasagna. Cacio e Pepe.
        </div>
      </div>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Official Classification</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            To classify as Pasta, food should originate from Italy or its surrounds
            and should almost always be created (traditionally) with durum wheat.
            Spaghetti is a pasta, not a noodle. See below.
          </p>
        </div>
      </details>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Caveats</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Pasta is famously the root cause of much contention in The Community. Today, The Carb Question
            is almost excusively posed using the Balham Derivation, which completely differentiates Italian-style Pasta from
            noodles in The Question. Historically of course this was seen by players from both Asia and The Americas
            as symptomatic of European Hegemony, but since the summit at Balham has been simply been recognised as
            being part of a fun game where everyone needs to chill the fuck out.
          </p>
        </div>
      </details>
    </div>
    <div class="flex flex-col gap-y-6 m-4 p-6 bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200">
      <div class="flex gap-x-4">
        <div class="text-4xl">🥔</div>
        <h2 class="text-4xl text-amber-800 font-black">Potato</h2>
      </div>
      <div class=" text-amber-950 max-w-prose pl-3">
        The humble Potato stands in stark contrast to its flashier rivals. Since its big money move across the Atlantic in the 16th Century
        - a transfer which purists at the time suggested it had sold out - Potato has retained its down-to-earth charm
        while showcasing its skill and versatility in elevating itself. A firm fan favourite with some beloved specialities.
      </div>
      <div class="flex flex-col pl-3">
        <div class="text-normal text-stone-500 font-bold">Big hitters</div>
        <div class="text-xl text-amber-950 font-black max-w-prose">
          French fries. Patatas Bravas. Crisps.
        </div>
      </div>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Official Classification</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Potato is traditionally more straightforward and easy to grasp as a choice, even for
            complete newcomers to The Question. A bottom-up movement of potato fans in 2018 - known as The Findon Spuds -
            led to a groundswell of public opinion to begin allowing Sweet Potato when considering Potato as a
            ranking choice.
          </p>
        </div>
      </details>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Caveats</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Since Sweet Potato's semi-official inclusion into this contender, more and more literature has been
            produced lobbying for the expansion of the Potato Contender to include other starchy tuberous vegetables such as
            Yams and even Turnips. However, such lobbying is strictly unofficial and while governmental bodies tolerate it,
            only Potato- and Sweet Potato-based dishes must be considered.
          </p>
        </div>
      </details>
    </div>
    <div class="flex flex-col gap-y-6 m-4 p-6 bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200">
      <div class="flex gap-x-4">
        <div class="text-4xl">🍚</div>
        <h2 class="text-4xl text-amber-800 font-black">Rice</h2>
      </div>
      <div class=" text-amber-950 max-w-prose pl-3">
        Rice's versatility, ubiquity and uniqueness make it a very strong contender in The Question. It is simply impossible
        to overstate rice's fundamental part of cuisines around the world, especially in Asia and Africa.
        Rice has been dominant as long as bread during the course of humanity, forming a fierce rivalry known, of course, as El Carbico.
      </div>
      <div class="flex flex-col pl-3">
        <div class="text-normal text-stone-500 font-bold">Big hitters</div>
        <div class="text-xl text-amber-950 font-black max-w-prose">
          Sushi. Pilau. Jollof.
        </div>
      </div>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Official Classification</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            If you need rice explained to you, then The Question may not be a suitable pursuit.
          </p>
        </div>
      </details>
      <details>
        <summary class="cursor-pointer font-bold text-stone-500">Caveats</summary>
        <div class="pt-3 text-stone-700">
          <p class="mb-3">
            Part of Rice's enormous popularity with posers of The Question lies in its simplicity.
            As it's fiercest fans often sing: "Rice, Rice, Baby."
          </p>
        </div>
      </details>
    </div>
  </div>
  <div class="w-full container mx-auto flex justify-center my-12">
    <div class="p-6 font-black text-amber-800 text-2xl">
      Armed with the sacred knowledge, it is now time to perform the solemn ritual. <br/>It is time for you to answer...
    </div>
  </div>
</div>
