<div class="flex flex-col w-screen">
  <div class="sticky top-0 z-10 bg-gradient-to-b from-yellow-50/60 via-yellow-50/40 to-transparent backdrop-blur-sm pb-8 shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1)]">
    <div class="flex flex-col gap-y-2 mb-4 px-6 py-4">
      <h1 class="text-5xl text-amber-900 font-black">The Contenders</h1>
      <div class="text-xl text-amber-600 font-black">In alphabetical order</div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4">
      <div class="text-4xl">🍞</div>
      <h2 class="text-4xl text-amber-800 font-black">Bread</h2>
    </div>
    <div class=" text-amber-950 max-w-prose">
      Bread has had a long and varied career all over the world and its strength lies in its variety.
      Functioning variously as a delivery mechanism, a stand-in plate or even as its own course in a restaurant,
      bread has been enjoyed by humanity since the dawn of agriculture and is, some say, The Face of Carbs.
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Big hitters</div>
      <div class="text-xl text-amber-950 font-black max-w-prose">
        Pizza. Naan. Sandwiches.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Official Classification</div>
      <div class=" text-amber-950 max-w-prose">
        Dough made with a grain, with our without a raising agent, baked or fried.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Caveats</div>
      <div class=" text-amber-950 max-w-prose">
        After the infamous events of The Council of Bread-based Cakes, modern interpretations of The Carb Question
        avoid the potential for violence by only considering savoury usages of bread.
        It is now part of the Laws of The Question that you must disregard sweet bread-based dishes when making your choice.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4">
      <div class="text-4xl">🍜</div>
      <h2 class="text-4xl text-amber-800 font-black">Noodles</h2>
    </div>
    <div class=" text-amber-950 max-w-prose">
      After an early career in Han-dynasty China, noodles found a new audience in the west
      by adopting a Germanic name (Nudle) and have gone from strength to strength. A workhorse
      of many cuisines across the East and beyond known for its variety and versatility,
      Noodles are the backbone of countless delicious dishes and, contentiously, even another contender itself.
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Big hitters</div>
      <div class="text-xl text-amber-950 font-black max-w-prose">
        Ramen. Pho. Chow mein.
      </div>
    </div>
    <div class="flex flex-col">
      <div class=" text-stone-500 font-bold">Official Classification</div>
      <div class=" text-amber-950 max-w-prose">
        Made from any unleavened dough (including those made from Rice) usually boiled.
        Comes in a long-ish shape or thin tube. Almost always used in cuisine originating
        in Asia.
      </div>
    </div>
    <div class="flex flex-col">
      <div class=" text-stone-500 font-bold">Caveats</div>
      <div class=" text-amber-950 max-w-prose">
        Confusion abounds about terminology (Americans insist on referring to Spaghetti as Noodles) and The Great Schism
        - with Pasta forming a breakaway option - only adds to Noodles' image as a nexus for confrontation
        in The Question. Following the CCP (Common Question Parameters) guidance, Noodles is used to represent
        primarily east Asian cuisine offerings in ranking decisions, rather than in the etymological sense.
        Pasta must not be considered when voting for Noodles. See below.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4">
      <div class="text-4xl">🍝</div>
      <h2 class="text-4xl text-amber-800 font-black">Pasta</h2>
    </div>
    <div class=" text-amber-950 max-w-prose">
      Bursting onto the scene relatively late compared to its august peers (likely starting its career in Etruscan-era Italy),
      Pasta is a classic flair player with a southern European swagger.
      Forming the basis of many Italian dishes, Pasta's personality shines through
      in the hundreds of quirky shapes it takes in contrast to its more austere Noodle proginator.
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Big hitters</div>
      <div class="text-xl text-amber-950 font-black max-w-prose">
        Spaghetti. Lasagna. Cacio e Pepe.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-stone-500 font-bold">Official Classification</div>
      <div class=" text-amber-950 max-w-prose">
        To classify as Pasta, food should originate from Italy or its surrounds
        and should almost always be created (traditionally) with durum wheat.
        Spaghetti is a pasta, not a noodle. See below.
      </div>
    </div>
    <div class="flex flex-col">
      <div class=" text-stone-500 font-bold">Caveats</div>
      <div class=" text-amber-950 max-w-prose">
        Pasta is famously the root cause of much contention in The Community. Today, The Carb Question
        is almost excusively posed using the Balham Derivation, which completely differentiates Italian-style Pasta from
        noodles in The Question. Historically of course this was seen by players from both Asia and The Americas
        as symptomatic of European Hegemony, but since the summit at Balham has been simply been recognised as
        being part of a fun game where everyone needs to chill the fuck out.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4">
      <div class="text-4xl">🥔</div>
      <h2 class="text-4xl text-amber-800 font-black">Potato</h2>
    </div>
    <div class=" text-amber-950 max-w-prose">
      The humble Potato stands in stark contrast to its flashier rivals. Since its big money move across the Atlantic in the 16th Century
      - a transfer which purists at the time suggested it had sold out - Potato has retained its down-to-earth charm
      while showcasing its skill and versatility in elevating itself. A firm fan favourite with some beloved specialities.
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Big hitters</div>
      <div class="text-xl text-amber-950 font-black max-w-prose">
        French fries. Patatas Bravas. Crisps.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-stone-500 font-bold">Official Classification</div>
      <div class="text-amber-950 max-w-prose">
        Potato is traditionally more straightforward and easy to grasp as a choice, even for
        complete newcomers to The Question. A bottom-up movement of potato fans in 2018 - known as The Findon Spuds -
        led to a groundswell of public opinion to begin allowing Sweet Potato when considering Potato as a
        ranking choice.
      </div>
    </div>
    <div class="flex flex-col">
      <div class=" text-stone-500 font-bold">Caveats</div>
      <div class=" text-amber-950 max-w-prose">
        Since Sweet Potato's semi-official inclusion into this contender, more and more literature has been
        produced lobbying for the expansion of the Potato Contender to include other starchy tuberous vegetables such as
        Yams and even Turnips. However, such lobbying is strictly unofficial and while governmental bodies tolerate it,
        only Potato- and Sweet Potato-based dishes must be considered.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4">
      <div class="text-4xl">🍚</div>
      <h2 class="text-4xl text-amber-800 font-black">Rice</h2>
    </div>
    <div class=" text-amber-950 max-w-prose">
      Rice's versatility, ubiquity and uniqueness make it a very strong contender in The Question. It is simply impossible
      to overstate rice's fundamental part of cuisines around the world, especially in Asia and Africa.
      Rice has been dominant as long as bread during the course of humanity, forming a fierce rivalry known, of course, as El Carbico.
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-bold">Big hitters</div>
      <div class="text-xl text-amber-950 font-black max-w-prose">
        Sushi. Pilau. Jollof.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-stone-500 font-bold">Official Classification</div>
      <div class=" text-amber-950 max-w-prose">
        If you need rice explained to you, then The Question may not be a suitable pursuit.
      </div>
    </div>
    <div class="flex flex-col">
      <div class=" text-stone-500 font-bold">Caveats</div>
      <div class=" text-amber-950 max-w-prose">
        Part of Rice's enormous popularity with posers of The Question lies in its simplicity.
        As it's fiercest fans often sing: "Rice, Rice, Baby."
      </div>
    </div>
  </div>
  <div class="p-6 font-black text-amber-800 text-lg">
    Now, armed with the sacred knowledge, it is time to perform the solemn ritual. It is time for you to answer...
  </div>

</div>
