<div class="flex flex-col gap-y-12 px-6 text-amber-600 font-black">
  <div class="text-3xl">For tens of thousands of years, humanity has cultivated them</div>
  <div class="text-3xl">Many developed in isolation, disseminated around the globe</div>
  <div class="text-3xl">For just as long, they have been debated</div>
  <div class="text-3xl text-amber-700">Which carb is the best?</div>
  <div>
    <div class="text-xl text-amber-700 mb-2">It is time for you to answer</div>
    <h1 class="text-6xl text-amber-900">The Carb Question</h1>
  </div>
</div>
