<div class="flex flex-col w-screen">
  <div class="sticky top-0 z-10 bg-gradient-to-b from-yellow-50/60 via-yellow-50/40 to-transparent backdrop-blur-sm pb-6 shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1)]">
    <div class="flex flex-col gap-y-2 px-6 md:px-12 py-4">
      <h1 class="text-4xl lg:text-5xl text-amber-900 font-black">The Carb Question</h1>
      <div class="text-xl text-amber-600 font-black">Seeking an ultimate answer</div>
    </div>
  </div>
  <div class="w-full container mx-auto">
    <div class="flex flex-col gap-y-4 p-6">
      <h2 class="text-4xl text-amber-800 font-black">For centuries</h2>
      <div class="text-lg text-amber-950 max-w-prose">
        Humanity has cultivated carbohydrate-rich and starchy foods into the basis of dishes and cuisines.
      </div>
    </div>
    <div class="flex flex-col gap-y-4 p-6">
      <h2 class="text-4xl text-amber-800 font-black">For years</h2>
      <div class="text-lg text-amber-950 max-w-prose">
        Debate has raged in pubs over which carb is better than the others. Communities have been built, Families divided, battle lines drawn.
      </div>
    </div>
    <div class="flex flex-col gap-y-4 p-6">
      <h2 class="text-4xl text-amber-800 font-black">Today</h2>
      <div class="text-lg text-amber-950 max-w-prose">
        It is time to provide a definitive answer by letting The People decide...
      </div>
      <h1 class="text-3xl text-amber-900 font-black mt-8">The Carb Question</h1>
    </div>
  </div>
</div>
