<div class="flex flex-col w-screen">
  <div class="flex flex-col gap-y-2 mb-12 px-6">
    <h1 class="text-5xl text-amber-900 font-black">The Contenders</h1>
    <div class="text-xl text-amber-600 font-black">In alphabetical order</div>
  </div>
  <div class="flex flex-col gap-y-4 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4 mb-4">
      <div class="text-4xl">🍞</div>
      <h2 class="text-4xl text-amber-800 font-black">Bread</h2>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Big hitters</div>
      <div class="text-xl text-amber-950 font-black">
        Pizza. Naan. Sandwiches.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Classification</div>
      <div class="text-lg text-amber-950 font-black">
        A grain, with our without yeast, baked or fried. Must be savoury.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-4 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4 mb-4">
      <div class="text-4xl">🍜</div>
      <h2 class="text-4xl text-amber-800 font-black">Noodles</h2>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Big hitters</div>
      <div class="text-xl text-amber-950 font-black">
        Ramen. Pho. Udon.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Classification</div>
      <div class="text-lg text-amber-950 font-black">
        Made from a grain like rice, or from eggs. Comes in a long-ish shape or thin tube.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-4 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4 mb-4">
      <div class="text-4xl">🍝</div>
      <h2 class="text-4xl text-amber-800 font-black">Pasta</h2>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Big hitters</div>
      <div class="text-xl text-amber-950 font-black">
        Spaghetti. Lasagna. Fettuccine.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Classification</div>
      <div class="text-lg text-amber-950 font-black">
        Durum wheat is the kicker here. Spaghetti is a pasta, you American heathens.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-4 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4">
      <div class="text-4xl">🥔</div>
      <h2 class="text-4xl text-amber-800 font-black">Potato</h2>
    </div>
    <div class="flex flex-col">
      <div class="text-stone-500 font-black">Big hitters</div>
      <div class="text-lg text-amber-950 font-black">
        French fries. Hash browns. Mash.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-stone-500 font-black">Classification</div>
      <div class="text-lg text-amber-950 font-black">
        Sweet potato counts.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-4 p-6 hover:bg-amber-100/90 transition-all duration-300 ease-in-out">
    <div class="flex gap-x-4 mb-4">
      <div class="text-4xl">🍚</div>
      <h2 class="text-4xl text-amber-800 font-black">Rice</h2>
    </div>
    <div class="flex flex-col">
      <div class="text-normal text-stone-500 font-black">Big hitters</div>
      <div class="text-xl text-amber-950 font-black">
        Sushi. Risotto. Paella.
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-stone-500 font-black">Classification</div>
      <div class="text-lg text-amber-950 font-black">
        If I have to explain rice to you, this question may be beyond you.
      </div>
    </div>
  </div>
</div>
