<div class="flex flex-col gap-y-12 text-amber-600 font-black">
  <div class="text-3xl transition-all duration-1000 ease-in-out opacity-0">For tens of thousands of years, humanity has cultivated them</div>
  <div class="text-3xl transition-all duration-1000 ease-in-out opacity-0" style="transition-delay: 0.8s;">Many developed in isolation, disseminated around the globe</div>
  <div class="text-3xl transition-all duration-1000 ease-in-out opacity-0" style="transition-delay: 1.6s;">For just as long, they have been debated</div>
  <div class="text-3xl text-amber-700 transition-all duration-1000 ease-in-out opacity-0" style="transition-delay: 2.4s;">Which carb is the best?</div>
  <div class="transition-all duration-1000 ease-in-out opacity-0" style="transition-delay: 3s;">
    <div class="text-xl text-amber-700">It is time for you to answer</div>
    <h1 class="text-6xl text-amber-900">The Carb Question</h1>
  </div>
   <%= link_to 'Ask the Question', contenders_path, class: 'transition-all duration-1000 ease-in-out opacity-0 text-slate-500', style: 'transition-delay: 3.8s;' %>
</div>

<script>
  // Trigger the transitions after a brief delay
  setTimeout(() => {
    document.querySelectorAll('.opacity-0').forEach(el => {
      el.classList.remove('opacity-0');
      el.classList.add('opacity-100');
    });
  }, 100);
</script>
