<div class="flex flex-col w-screen">
  <div class="sticky top-0 z-10 bg-gradient-to-b from-yellow-50/60 via-yellow-50/40 to-transparent backdrop-blur-sm pb-6 shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1)]">
    <div class="flex flex-col gap-y-2 px-6 md:px-12 py-4">
      <h1 class="text-5xl text-amber-900 font-black">The Results</h1>
      <div class="text-xl text-amber-600 font-black">The People have spoken</div>
    </div>
  </div>
  <%= render partial: 'question/corrigan_score', locals: { totals: corrigan_score_view_data(**local_assigns)} %>
</div>
