<div id="banner" class="hidden enspuddification sticky bottom-0 w-screen p-6 bg-sky-600 text-sky-50 font-serif">
  <%= link_to about_path(anchor: 'press-release'), class: 'underline' do %>
    <span class="font-bold">NEW:</span> An important announcement from the ISOCRA and Big Potato ™️
  <% end %>
</div>
