<div class="flex flex-col gap-y-4 p-6 hidden enspuddification">
  <h2 class="text-4xl text-amber-800 font-black"> FOR IMMEDIATE RELEASE (<%= (Time.zone.now).strftime("%-d %B %Y") %>)</h2>
  <div class="text-lg text-amber-950 max-w-prose mb-4">
    <span class="font-bold">Big Potato Acquires ISOCRA, Ushering in a New Era for the Carb Ranking Landscape</span>
    <br/><br/>
    Big Potato ™️, a global leader in food production and innovation, is delighted to announce the acquisition of ISOCRA, the internationally recognized organisation
    responsible for the official rating of Carbohydrate-rich foods. Both organizations are thrilled by this strategic alignment, which promises to elevate ISOCRA’s influence
    and expand its mission globally. “We’ve admired ISOCRA’s work for years,” said Big Potato's CEO, Marcus Piper. “Bringing them into the Big Potato family aligns perfectly with our vision for deeper,
    more authentic engagement with the global carbohydrate community.”
    <br/><br/>
    ISOCRA’s leadership shares the enthusiasm. “This is a momentous step forward for our members and the craft we represent,”
    said ISOCRA Chair Steven Gubbins. “Big Potato brings the resources, scale, and shared commitment to tradition and innovation that
    will allow us to amplify our rankings and values on a truly global stage whilst remaing the bastion of authority on which Carb is best.”
    With this acquisition, ISOCRA will retain its independent board and advisory structure while gaining unprecedented operational and strategic support.
    <br/><br/>
    Alongside the announcement, ISOCRA unveiled an updated version of The Carb Question featuring an innovative
    new set of candidates offering people unparalleled opportunity for ranking Carbohydrates. The new "Enspuddification Derivation"
    will become the sole official means of posing the question as of <%= (Time.zone.now).strftime("%-d %B %Y") %>.
  </div>
</div>
